.home-grid {
    /* background-color: green; */
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); */
}

.cta-grid{
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire section */
}



.cta {
    grid-column: 2 / span 5;
    grid-row: 2 / span 1;  
    z-index: 1; 
}

.cta h1 {
    margin: 10px;
    padding: 10px;
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #CCCCCC; 
    text-shadow: 
        -1px -1px 2px #000,  
         1px -1px 2px #000,
        -1px  1px 2px #000,
         1px  1px 2px #000; /* Multiple shadows with different offsets */
}

.cta p {
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 
        -1px -1px 2px #000,  
         1px -1px 2px #000,
        -1px  1px 2px #000,
         2px  2px 2px #000; /* Multiple shadows with different offsets */
}

.cta button {
    width: 150px;
    height: 50px;
    margin-left: 120px;
    font-size: 12px;
    color: #FDD5B1;
    background-color: #556B2F;
    text-shadow: 
        -1px -1px 2px #000,  
        1px -1px 2px #000,
        -1px  1px 2px #000,
        2px  2px 2px #000; /* Multiple shadows with different offsets */
}

.cta button:hover {
    background-color: #8FBC8F; /* New background color on hover */
}





/* CSS for the skills slide section. */


.infinite-scroll {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  padding: 60px 0;
  background: white;
  position: relative;
}

.slider-container {
  overflow: hidden; /* Hide overflow of the slider */
}

.logos {
  display: flex; /* Use flexbox for easy alignment */
}

.logos-slide {
  display: flex; /* Use flexbox for easy alignment */
  animation: slide 35s infinite linear; /* Apply the slide animation */
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}








/* CSS for Testimonials */
.testimonial-section {
  padding: 40px 0;
  background-color: #f9f9f9;
  overflow: hidden; /* Ensure content within testimonial container doesn't overflow */
}

.testimonial-container {
  display: flex; /* Enable horizontal layout */
  transition: transform 0.5s ease; /* Smooth transition for slide effect */
}

.testimonial {
  flex-shrink: 0; /* Prevent testimonials from shrinking */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}

.testimonial-content {
  font-size: 18px;
  line-height: 1.6;
}

.testimonial-content p {
  margin-bottom: 20px;
}

.testimonial-content cite {
  font-style: normal;
  font-size: 16px;
  color: #333;
}